body {
	background-color: rgb(10, 10, 10);
	color: #ffffff;
	font-size: 18px;
}

main {
	padding: 1rem;
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	padding: 0 10px;
	margin-top: 20em;
}

.auth-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	gap: 1rem;
}

.card {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 32px;
}

.btn {
	
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;

	&:hover {
		text-decoration: none;
	}
}

input {
	border-radius: 5px;
	padding: 10px 20px;
	color: #000;
	font-size: 16px;
	margin-bottom: 20px;
}

.auth-form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 400px;
	min-width: 400px;
	margin: 0 auto;

	& label {
		text-align: left;
		padding-bottom: 2px;
		font-size: 16px;
	}
}

nav {
	background-color: rgb(33, 33, 245);
	padding:1em
}

ul>li>a{
	color:#fff !important ;
	text-transform : uppercase!important ;
	letter-spacing:.2rem;
}

p {
	margin-top: .5em;
}

table {
	border-collapse: collapse;
	color: azure;
}

th, td {
	color:floralwhite;
}